fastapi
uvicorn
pydantic
pydantic-settings

sqlalchemy
python-jose
passlib
bcrypt<4.1
python-multipart
langchain
langchain-classic
langchain-community
langchain-core
langchain-text-splitters
langchain-openai
langchain-anthropic
langchain-groq
langchain-chroma
chromadb
pypdf

streamlit
requests
python-dotenv
